---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import educationData from "../data/education.json";
import "../styles/education.css";

const educationImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/education/*.{svg,jpg,astro,png}"
);
---

<section id='education'>
  <h2 class='section-title reveal'>
    <ion-icon name='school-outline'></ion-icon>
    Education
  </h2>
  <div class='container'>
    {
      educationData.map((education) => (
        <a
          class='card reveal'
          href={education.link}
          target='_blank'
          rel='noopener noreferer nofollow'
        >
          <Image
            src={educationImages[education.logo]()}
            alt='education'
            loading={"eager"}
            {...Astro.props}
          />
          <div class='content'>
            <h3>{education.title}</h3>
            <h5>{education.place}</h5>
            <h4>{education.period}</h4>
          </div>
        </a>
      ))
    }
  </div>
</section>
